page-evenement {
	.body-evenement{
		width: 100%;
		width: 100%;
		*position: absolute;
    	*top: -40px;
	}
	.bloc-evenement{
		width: 100%;
		height: 90px;
		*box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
		margin-top: 5px;
		border-bottom: 2px solid #99bdcd;
	}
	.image-evenement{
		width: 30%;
		float: left;
		height: 88px;
	}
	.texte-evenement{
		width: 70%;
		float: left;
		padding-left: 10px;
		padding-top: 5px;
		color: #000000;
		line-height: 20px;

	}

	.image-event1{
		width: 100%;
	    height: 170px;
	    position: relative;
	}

	.texte-event{
		width: 60%;
	    float: right;
	    height: 40px;
	    color: #ffffff;
	    background-color: #c81437;
	    position: absolute;
	    top: 130px;
	    border-radius: 10px;
	    left: 40%;
	}
	.evtexte{
		float: left;
		width: 70%;
		height: 40px;
		text-align: center;
		*padding-top: 8px;
		line-height: 40px;
		text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	}
	.evimage{
		float: left;
		width: 30%;
		height: 40px;
	}
}
