page-details-decouverte {
	.baniere-decouverte{
		width:100%;
		height: 180px;
	}

	.tagg{
		width: 100%;
		color: blue;
		text-align: left;
	}

	.tagdecouverte{
		width: 100%;
		margin-left: 3%;
		margin-top: 3%;
	}
	.item-md.item-block .item-inner {
	    padding-right: 8px;
	    border-bottom: 0px solid #dedede; 
	}
	.contenu{
		text-align: justify;
	    font-size: 16px;
	    padding-right: 8%;
	    line-height: 1.8;
	}

}
