page-notation-modal {
	z-index: 10;
    height: 100%;
    contain: strict;
    height: 50%;
    margin-top: 30%;
    margin-left: 5%;
    margin-right: 5%;
	
}



.btnres{
	background-color: #c81437;
	*margin-top: 5%;
	padding-left: 10%;
    padding-right: 10%;
	color: #ffffff;
	*float:left;
	height: 40px;
	*padding-top: 4%;
	font-size: 16px;
	border-radius: 15px;
	line-height: 40px;
	float: left;
}

.btnresval{
	background-color: #c81437;
	*margin-top: 5%;
	margin-left: 15px;
	padding-left: 10%;
    padding-right: 10%;
	color: #ffffff;
	*float:left;
	height: 40px;
	*padding-top: 4%;
	font-size: 16px;
	border-radius: 15px;
	line-height: 40px;
	float: left;
}
.body-mod{
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 5%;
	text-align:center;

}

.body-btn{
	margin-left: 15%;
	margin-right: 15%;
	height:40px;
	*margin-top: 5%;
	

}
.rate{
	margin-top: 8%;
	text-align: center;
}
.rate ul li{
	font-size: 30px;
}
