<!--
  Generated template for the DetailsSightPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{titre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="body-details">
	  	<div class="baniere-details">
	  		<!--img src="{{evenement.image}}" class="full-image" /-->
	  		<!--ion-slides  pager="true">
				<ion-slide *ngFor="let vign of vignette" >

						<img *ngIf ="vign" src="{{vign.cheminVignette}}" class="full-image" />

						<img *ngIf ="!vign" src="{{institution.photoIns}}" class="full-image" />

				</ion-slide >
			</ion-slides >

			<img src="{{evenement.image}}" class="full-image" /-->
			<ion-slides  pager="true" *ngIf ="vignette">
					<ion-slide *ngFor="let vign of photos" >
						<img *ngIf ="vign.cheminVignette" src="{{vign.cheminVignette}}" class="full-image" />
	
						<img *ngIf ="!vign.cheminVignette" src="{{url}}/{{institution.photoIns}}" class="full-image" />
					</ion-slide >
			</ion-slides >
	
				<ion-slides  pager="true" *ngIf ="!vignette">
					<ion-slide >
						<img src="{{url}}/{{institution.photoIns}}" class="full-image" />
					</ion-slide >
				</ion-slides >


	  	</div>

	  	<div class="details">
	  		<div class="titre-event">
				{{institution.nomIns}}
			</div>
	  	</div>

	  	<div class="details">
	  		<div class="descsight">
				{{institution.descriptionIns}}
			</div>
	  	</div>

	  	
	</div>

</ion-content>

<ion-footer class="footer-sight" >
  
	  		<div class="route" (click)="goToCarteMap(institution)">
				<div class="cadre-pin">
					<ion-icon name="pin"></ion-icon>
				</div>

				<div class="texte-pin"> 
					&nbsp; &nbsp; Localiser | me rendre à l’endroit
				</div>	
			</div>
</ion-footer>
